body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1685625790526-495abb08ee69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    overflow: hidden;
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.digital_clock{
    display: flex;
}

.digital_clock div{
    margin: 5px;
    position: relative;
}


.digital_clock span{
    width: 150px;
    height: 80px;
    background: rgb(104, 82, 31);
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-style: italic;
    text-shadow: 2px 4px 4px rgb(162, 170, 173);
    opacity: 0.6;
}

.digital_clock .text{
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    background: rgb(14, 94, 120);
    letter-spacing: 2px;
}

.digital_clock #ampm{
    bottom: 0;
    position: absolute;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    background: rgb(14, 94, 120);
    letter-spacing: 2px;
}